// Contact Page
#contact {
  &-form {
    .text-fields {
      display: grid;
      grid-template-areas:
        'name email'
        'subject phone'
        'message message';
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }

      .text-input {
        padding: 0.5rem 1rem;
        border: 1px #ddd solid;
      }
    }

    button[type='submit'] {
      width: 50%;
    }
  }

  &-info {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-tagline {
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
}
