// Variables
$website-width: 1280px;
$main-color: #42b983;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #2c3e50;
$bg-image: url('/images/bg-image-min.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  }
  @return #fff;
}
