// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      color: #fff;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }
  }
}
