#home-specialize .home-languages,
#home-languages .home-languages {
  display: grid;
  grid-gap: 2rem;

  img {
    width: 100%;
  }
}

#home-specialize .home-languages {
  grid-template-columns: repeat(3, 1fr);
}

#home-languages .home-languages {
  grid-template-columns: repeat(8, 1fr);
  img {
    filter: grayscale(100%);
  }
}
